*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.parent{
  padding: 20px;
  display: inline-block;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  border: 1px solid white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(120, 114, 114);
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top button{
  color: black;
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.top p{
  color: black;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.medium{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  padding-bottom: 5px;
}
.medium h1{
  color: black;
  font-weight: 300;
}
.medium span{
  color: black;
}
.medium a{
  color: rgb(22, 22, 126);
  text-decoration: none;
}
.tech{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}
.tech button{
  color: black;
  background-color: rgb(140, 140, 140) ;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
.experience{
  display: flex;
  text-align: center;
  justify-content: baseline;
  justify-items: center;
  padding: 10px;
  margin: 10px;
}
.experience p{
  color: black;
}

button{
  color: black;
  font-size: large;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(173, 168, 168);
}